<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="ServerConnection" connectionString="http://localhost:59216/api/Directory/"/>
      <add name="LoginConnection" connectionString="http://localhost:59216/api/Login/"/>
    </connectionStrings>
</configuration>